/* 'Work Sans' font for all text */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* all reset and reusable styles */
* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	box-sizing: border-box;
}
p {
	color: #4b4a4a;
	font-size: 14px;
	line-height: 20px;
}
main {
	width: 850px;
	margin: auto;
}
section {
	padding: 50px 0;
}
.btn {
	padding: 15px 25px;
	border: none;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

/* styles of header */
header {
	min-height: 100vh;
	background-image: url('../images/banner/banner3.png');
	color: #fff;
	background-size: cover;
	display: flex;
	justify-content: end;
	align-items: center;
}
.header-content {
	text-align: right;
	width: 350px;
	margin-right: 100px;
}
.header-content h1 {
	font-size: 45px;
	font-weight: 800;
	text-shadow: 1px 1px 3px #000;
}
.header-content p {
	color: #fff;
	padding: 20px 0;
	text-shadow: 1px 1px 2px #000;
}
.btn-header {
	color: #1080bb;
}

/* styles of failure section */
.failures-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.failure-img {
	width: 400px;
}
.failure-content {
	max-width: 400px;
}
.failure-content h2 {
	font-size: 35px;
	margin-bottom: 20px;
}
.failure-content p {
	margin-bottom: 20px;
	max-width: 80%;
}
.failure-content ul {
	list-style: none;
}
.failure-content ul li {
	font-size: 14px;
	color: #4b4a4a;
	margin-bottom: 10px;
}
.failure-content ul li i {
	color: rgb(19, 214, 19);
	margin-right: 10px;
}

/* styles of plans section */
.plan-container {
	display: flex;
	justify-content: space-between;
}
.section-title {
	text-align: center;
	margin-bottom: 50px;
}
.plan-item {
	text-align: center;
}
.plan-item img {
	width: 70px;
}
.plan-item h3 {
	margin: 20px 0 5px;
}

/* styles of Ultimate Wish section */
.wish-container {
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wish-container img {
	width: 400px;
	border-radius: 8px;
	box-shadow: 1px 1px 3px;
}
.wish-content {
	max-width: 350px;
}
.wish-content h2 {
	font-size: 35px;
	margin-bottom: 10px;
}
.wish-content h4 {
	color: rgb(85, 83, 83);
	font-size: 15px;
	margin-bottom: 20px;
}

/* styles of call-now section */
.call-now {
	width: 100%;
	padding: 40px;
	margin: 60px 0;
	background-image: url('../images/watch.png'), linear-gradient(to right, rgba(12, 148, 252, 0.682), rgba(255, 0, 0, 0));
	background-blend-mode: overlay;
	background-size: cover;
	border-radius: 8px;
}
.call-now h2 {
	font-size: 30px;
	line-height: 40px;
	color: #fff;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px #000;
}
.call-btn {
	color: rgb(17, 73, 109);
}

/* styles of footer */
footer {
	display: flex;
	justify-content: space-around;
	padding: 80px;
	background-color: #000;
	color: #fff;
}
footer p {
	color: rgb(159, 153, 153);
	margin: 10px 0;
}

/* styles of contents on the left side in footer*/
.footer-content {
	max-width: 400px;
}
.footer-content h2 {
	font-size: 30px;
	color: rgb(206, 202, 202);
}
.social-icons {
	margin-top: 30px;
}
.social-icons i {
	font-size: 20px;
	padding: 8px;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}
.fa-facebook {
	color: #1672e6;
}
.fa-twitter {
	color: #00acee;
}
.fa-youtube {
	color: #f00;
}

/* styles of contents on the right side in footer*/
.footer-form input {
	background: none;
	color: #fff;
	padding: 12px;
	display: block;
	margin: 20px 0 10px;
	border: 1px solid #999;
	border-radius: 5px;
}
.footer-btn {
	background-color: #1672e6;
	color: #fff;
}

/* styled by Gour Saha Joy */
